@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display-swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: CalSans;
  font-display: swap;
  src: url(../fonts/CalSans-SemiBold.woff2) format("woff2"), url(../fonts/CalSans-SemiBold.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
html, body {
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: Poppins;
  font-size: 16px;
  color: #121212;
}

[class*=__container] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0px 15px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.title {
  font-family: CalSans;
  color: #121212;
  font-size: 44px;
  line-height: 1.2;
  text-align: center;
}
.title span {
  color: #FF6428;
}

@media (max-width: 737.98px) {
  title {
    font-size: 38px;
  }
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 131px;
  min-height: 152px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 56px;
}
.menu__link {
  font-weight: 500;
  color: rgba(18, 18, 18, 0.4);
}
.menu__link:hover {
  text-decoration: underline;
}

@media (max-width: 1140px) {
  .header__container {
    gap: 50px;
    min-height: 100px;
  }

  .menu__list {
    gap: 40px;
  }
}
@media (max-width: 737.98px) {
  .header__container {
    gap: 50px;
    min-height: 60px;
  }

  .menu__list {
    gap: 40px;
  }
}
@media (max-width: 479.98px) {
  .header__container {
    gap: 15px;
  }

  .menu__list {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }

  .header__logo {
    width: 28px;
    overflow: hidden;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 28px;
            flex: 0 0 28px;
  }
}
.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.page__main {
  padding-bottom: 80px;
}
.page__store {
  padding-top: 80px;
  padding-bottom: 90px;
}
.page__categories {
  padding-top: 90px;
  padding-bottom: 110px;
}
.page__brands {
  padding-top: 110px;
  padding-bottom: 180px;
}
.page__why {
  padding-top: 90px;
  padding-bottom: 90px;
}
.page__reviews {
  padding-top: 240px;
  padding-bottom: 240px;
}
.page__favorite {
  padding-bottom: 120px;
}

@media (max-width: 991.98px) {
  .page__main {
    padding-bottom: 50px;
  }
  .page__store {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .page__categories {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .page__brands {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .page__why {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .page__reviews {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .page__favorite {
    padding-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .page__main {
    padding-bottom: 30px;
  }
  .page__store {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .page__categories {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .page__brands {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .page__why {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .page__reviews {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .page__favorite {
    padding-bottom: 30px;
  }
}
.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 120px 20px 0px 0px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.main__title {
  font-family: CalSans;
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 1.2;
}
.main__title span {
  color: #FF6428;
}
.main__title:not(:last-child) {
  margin-bottom: 16px;
}
.main__text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
  max-width: 400px;
}
.main__text:not(:last-child) {
  margin-bottom: 33px;
}
.main__decor {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.actions-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.actions-main__button {
  text-align: center;
  padding: 18.5px 48px;
  background: #FF6428;
  border-radius: 40px;
  color: #fff;
  font-weight: 600;
  line-height: 26px;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.actions-main__button:not(:last-child) {
  margin-right: 40px;
}
.actions-main__button:hover {
  background: #c75021;
}
.actions-main__icon:not(:last-child) {
  margin-right: 27px;
}

.decor-main__image {
  position: relative;
  margin: 0px -135px 0px 0px;
  padding-bottom: 97.5%;
  max-width: 672px;
}
.decor-main__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0 0 150px 358px;
}
.decor-main__image::after {
  content: "";
  background: url(../img/svg/logo.svg) 0 0 no-repeat;
  width: 80px;
  height: 80px;
  position: absolute;
  right: 36.3%;
  bottom: 0;
  -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

@media (max-width: 1140px) {
  .decor-main__image img {
    width: 100%;
  }

  .main__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
  }

  .main__decor {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
  }
}
@media (max-width: 737.98px) {
  .decor-main {
    display: none;
  }

  .main__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding-right: 0;
    padding-top: 80px;
  }

  .main__title {
    font-size: 44px;
  }
}
@media (max-width: 479.98px) {
  .actions-main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .actions-main__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .actions-main__button:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 15px;
  }

  .main__text {
    text-align: center;
  }
  .main__title {
    text-align: center;
  }

  [class*=__container] {
    padding: 0px 10px;
  }
}
.store__title {
  margin-bottom: 86px;
}
.body-store__header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 32px;
  gap: 15px;
}
.body-store__title {
  letter-spacing: 0.08em;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  text-transform: uppercase;
}
.body-store__all {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #868686;
}
.body-store__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 54px;
}
.body-store__items:not(:last-child) {
  margin-bottom: 98px;
}
.body-store__item {
  display: grid;
}

.item__image {
  text-align: center;
}
.item__image:not(:last-child) {
  margin-bottom: 40px;
}
.item__image:not(:last-child) img {
  max-width: 100%;
}
.item__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #121212;
  justify-self: start;
}
.item__title:hover {
  text-decoration: underline;
}
.item__price {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #666666;
}

@media (max-width: 991.98px) {
  .store__title {
    margin-bottom: 50px;
  }

  .body-store__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767.98px) {
  .store__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 559.98px) {
  .body-store__items {
    grid-template-columns: repeat(1, 1fr);
    gap: 45px;
  }

  .item__image {
    text-align: center;
  }
  .item__image:not(:last-child) {
    margin-bottom: 4px;
  }
}
.categories__title {
  margin-bottom: 80px;
}
.categories__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
  row-gap: 35px;
}
.item-category {
  position: relative;
}
.item-category__title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px 20px;
  z-index: 10;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  width: 100%;
}
.item-category__image {
  position: relative;
  padding-bottom: 127%;
  overflow: hidden;
  border-radius: 20px;
}
.item-category__image img {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.item-category__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.65)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  z-index: 2;
}

.item-category:hover .item-category__image img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 1230px) {
  .categories__items {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
}
@media (max-width: 889.98px) {
  .categories__items {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 559.98px) {
  .categories__items {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  .categories__title {
    margin-bottom: 40px;
  }
}
@media (max-width: 479.98px) {
  .categories__items {
    grid-template-columns: repeat(1, 1fr);
  }
}
.brands__title {
  margin-bottom: 75px;
}
.brands__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin: 0 auto;
  max-width: 1020px;
  -webkit-column-gap: 160px;
     -moz-column-gap: 160px;
          column-gap: 160px;
  row-gap: 100px;
}
.brands__item img {
  max-height: 68px;
  max-width: 100%;
}

@media (max-width: 1140px) {
  .brands__items {
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
}
@media (max-width: 559.98px) {
  .brands__items {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
  .brands__title {
    margin-bottom: 25px;
  }
}
.why {
  background-color: #121212;
}
.why__title {
  color: #ffffff;
  margin-bottom: 75px;
}
.why__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 40px;
}
.why__item {
  max-width: 230px;
}

.item-why__icon {
  margin: 0 auto;
  width: 72px;
  height: 72px;
  background: #262626;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.item-why__icon:not(:last-child) {
  margin-bottom: 40px;
}
.item-why__title {
  color: #ffffff;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
}
.item-why__title:not(:last-child) {
  margin-bottom: 12px;
}
.item-why__text {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #666666;
}

@media (max-width: 767.98px) {
  .why__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .why__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 559.98px) {
  .why__items {
    grid-template-columns: repeat(1, 1fr);
  }
}
.reviews__title {
  margin-bottom: 109px;
}
.swiper-reviews__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.swiper-reviews__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transform: translate(0px, -100%);
      -ms-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
}

.slide-swiper-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slide-swiper-reviews__picture {
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slide-swiper-reviews__picture:not(:last-child) {
  margin-bottom: 30px;
}
.slide-swiper-reviews__image {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  position: relative;
}
.slide-swiper-reviews__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: center;
     object-fit: center;
  border-radius: 50%;
  overflow: hidden;
}
.slide-swiper-reviews__image::before {
  content: "";
  position: absolute;
  width: 285px;
  height: 258px;
  top: 38px;
  left: -60px;
  background-color: #FF6428;
  border-radius: 60px 0px 400px 400px;
  -webkit-transform: rotate(-7.72deg);
      -ms-transform: rotate(-7.72deg);
          transform: rotate(-7.72deg);
}
.slide-swiper-reviews__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  overflow: hidden;
}
.slide-swiper-reviews__text {
  font-size: 24px;
  line-height: 160%;
  color: #666666;
}
.slide-swiper-reviews__text:not(:last-child) {
  margin-bottom: 56px;
}
.slide-swiper-reviews__name {
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
  text-transform: uppercase;
}
.slide-swiper-reviews__name:not(:last-child) {
  margin-bottom: 8px;
}
.slide-swiper-reviews__position {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #868686;
  letter-spacing: 0.08em;
}

.swiper-reviews__pagination .swiper-pagination-bullet {
  opacity: 1;
  background: #C4C4C4;
  border-radius: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
  height: 16px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.swiper-reviews__pagination .swiper-pagination-bullet-active {
  background: #FF6428;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
}

@media (max-width: 1230px) {
  .reviews__container {
    margin-left: -15px;
  }
  .reviews__container .reviews__title {
    padding-left: 15px;
  }
}
@media (max-width: 991.98px) {
  .reviews__title {
    margin-bottom: 50px;
  }

  .slide-swiper-reviews {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .slide-swiper-reviews__body {
    padding-left: 15px;
  }

  .swiper-reviews__pagination.swiper-pagination {
    position: relative;
    bottom: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    padding-top: 30px;
  }
}
@media (max-width: 767.98px) {
  .reviews__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 479.98px) {
  .slide-swiper-reviews__image {
    width: 270px;
    height: 270px;
  }
  .slide-swiper-reviews__image::before {
    content: "";
    position: absolute;
    width: 225px;
    height: 188px;
    top: 38px;
    left: -60px;
    background-color: #FF6428;
    border-radius: 60px 0px 400px 400px;
    -webkit-transform: rotate(-7.72deg);
        -ms-transform: rotate(-7.72deg);
            transform: rotate(-7.72deg);
  }

  .slide-swiper-reviews__text {
    font-size: 18px;
  }
  .slide-swiper-reviews__text:not(:last-child) {
    margin-bottom: 25px;
  }
}
.favorite__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.favorite__images {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  text-align: center;
}
.favorite__images img {
  max-width: 100%;
}
.favorite__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-right: 20px;
}
.favorite__title {
  text-align: left;
  font-size: 48px;
  line-height: 140%;
}
.favorite__title:not(:last-child) {
  margin-bottom: 60px;
}
.favorite__apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25.5px;
}
.favorite__app img {
  max-width: 100%;
}

@media (max-width: 991.98px) {
  .favorite__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .favorite__title {
    font-size: 38px;
  }
  .favorite__title:not(:last-child) {
    margin-bottom: 25px;
  }
  .favorite__body {
    padding-right: 0;
  }
}
.footer {
  background: #EEEEEE;
  padding-top: 80px;
  padding-bottom: 40px;
}
.footer__copy {
  margin-top: 80px;
  text-align: center;
  font-size: 16px;
  line-height: 160%;
  color: rgba(18, 18, 18, 0.6);
}

.body-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.body-footer__colum_full {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.body-footer__logo {
  display: inline-block;
}
.body-footer__logo:not(:last-child) {
  margin-bottom: 28px;
}
.contacts-footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contacts-footer__link {
  color: #666666;
  display: inline-block;
  line-height: 24px;
  padding-left: 44px;
}
.contacts-footer__link:not(:last-child) {
  margin-bottom: 20px;
}
.contacts-footer__link_mali {
  background: url("../img/footer/sms.svg") left no-repeat;
}
.contacts-footer__link_location {
  background: url("../img/footer/location.svg") left no-repeat;
}

.menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 126px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu-footer__title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  color: #121212;
}
.menu-footer__title:not(:last-child) {
  margin-bottom: 20px;
}
.menu-footer__item:not(:last-child) {
  margin-bottom: 16px;
}
.menu-footer__link {
  color: rgba(18, 18, 18, 0.6);
}

.social-footer {
  margin: 0 auto;
}
.social-footer__title {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
  text-transform: uppercase;
  color: #121212;
}
.social-footer__title:not(:last-child) {
  margin-bottom: 12px;
}
.social-footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 991.98px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .body-footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .body-footer__colum:first-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .body-footer__colum_full {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .menu-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 50px;
  }
}
@media (max-width: 767.98px) {
  .footer__copy {
    margin-top: 40px;
  }
}